html,
body,
#allMain {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

/* START SCREEN */
#startScreen {
  user-select: none;
  background-image: url(/Images/bubble.gif);
  background-color: #fa8ee3;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#startTitle {
  text-shadow: -5px 5px 4px rgba(0, 187, 255, 0.586), -8px 8px 8px white;
  border-radius: 10px;
  background-color: #fa8ee3;
  word-spacing: 20px;
  letter-spacing: 5px;
  padding-top: 10px;
  font-family: "Rubik Dirt", cursive;
  color: #2272af;
  font-size: 70px;
}

#startDescription {
  border-radius: 10px;
  background-color: #fa8ee3;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Lobster", cursive;
  font-size: 30px;
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#startDescription p {
  margin: 5px;
}

#difficultyContainer {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  background-color: #fa8ee3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
}

#EasyButton,
#MediumButton,
#HardButton {
  box-shadow: 1px 1px 1px black;
  border: 3px solid black;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(205, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
}

#MediumButton {
  outline: 2px solid black;
  box-shadow: 2.5px 2.5px 2px black;
  font-weight: 700;
  background-color: rgb(255, 215, 36);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

#EasyButton:hover,
#MediumButton:hover,
#HardButton:hover {
  font-size: 23px;
  font-weight: 700;
}

#startButton {
  text-shadow: 5px 5px 2px rgb(102, 255, 0);
  user-select: none;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-size: 33px;
  border: 3px solid black;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: rgb(102, 255, 0);
  color: black;
  border-radius: 5px;
  transition-duration: 2s;
}

@keyframes circleLights {
  0% {
    box-shadow: 0px 0px 5px red;
  }
  100% {
    box-shadow: 0px 0px 50px red, 0px 0px 100px violet;
  }
}

#startButton:hover {
  background-color: rgb(70, 212, 255) !important;
  transition-duration: 0.5s !important;
  border-radius: 50% !important;
  width: 125px !important;
  height: 125px !important;
  transform: translate(0%, -25%) rotate(-10deg) !important;
  border: 5px solid black !important;
  animation-name: circleLights !important;
  animation-duration: 0.5s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease !important;
  animation-direction: alternate !important;
}

#startInformationContainer {
  font-family: "Snippet", sans-serif;
  font-weight: 700;
  font-size: 27px;
  position: absolute;
  top: 380px;
  border-radius: 50px;
  margin-top: 45px;
  border: 3px solid black;
  height: 250px;
  width: 300px;
  /* background-color: rgba(0, 187, 255, 0.586); */
  background-color: rgb(113, 213, 229);
  text-shadow: -1px 1px 2px black;
  display: none;
  flex-direction: column;
  align-items: center;
}

#startInformationContainer p {
  margin: 0;
  padding-top: 25px;
}

#startScreenTime,
#startScreenScore {
  font-size: 30px;
}

/* PLAY SCREEN */
#playScreen {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  background-image: url(../Images/background4.jpg);
  background-size: cover;
  background-position: 0px -200px;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: center;
}

#playTitle {
  text-shadow: -3px 3px 3px whitesmoke;
  box-shadow: 2px -2px 2px black;
  background-image: linear-gradient(180deg, rgb(0, 221, 255), aliceblue);
  position: relative;
  top: 2.5px;
  border-top: 1px solid black;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

#playInfo {
  background-image: linear-gradient(0deg, orange, aliceblue);
  /* background-color: rgb(200, 208, 191); */
  box-shadow: 2px 2px 2px black;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid black;
  border-radius: 10px;
  height: 85px;
  width: 560px;
}

#scoreContainer,
#timeContainer {
  border-radius: 10px;
  border: 3.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.605);
  height: 70px;
  width: 250px;
}

#scoreDiv,
#timeDiv {
  padding-left: 10px;
  width: 50px;
  flex-wrap: nowrap;
}

#playArea {
  box-shadow: 5px 5px 4px black;
  min-width: 700px;
  width: 700px;
  height: 500px;
  background-color: rgba(251, 0, 113, 0.098);
  border: 3px solid black;
  border-radius: 20px;
}

#bubble {
  background-color: white;
  border: 5px solid black;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
